@import url($primary-font);
@import url($secondary-font);

body {
  font-family: $ff-primary;
  font-weight: $fw-regular;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: $ff-secondary;
  text-transform: capitalize;
  font-weight: $fw-bold;
  color: $VeryDarkDesaturatedBlue;
}

h1 {
  color: #fff !important;
  font-size: 3.052rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 4rem 0;
}

h2 {
  font-size: 2.441rem;
}

p {
  margin: 1rem 0;
  color: $VeryDarkGrayishBlue;
}